.chart-container {
    font-family: Arial;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 50px 0;
}

hr {
    border-top: 1px solid #CCCCCC;
}

.legend {
    display: flex;
    float: right;
    position: relative;
    bottom: 29px;
    width: 220px;
    border: 1px solid #CCCCCC;
    border-radius: 25px;
    background-color: white;
    padding: 10px 15px;
    margin-right: 4%;
 }

.legend .legend-label {
    margin: auto;
}

.legend .legend-label .legend-dot {
    background-color: pink;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-right: 10px;
}

.legend .legend-label .legend-dot.last-year {
    background-color: #9FE0F8;
}

.legend .legend-label .legend-dot.this-year {
    background-color: #093EDD;
    margin-left: 15px;
}

.x-axis {
    height: 3.2rem;
    margin-top: 2.5rem;
    padding-top: .3rem;
    border-top: 1px solid #CCCCCC;
}

.x-axis-label {
    float: left;
    width: 33.33%;
    font-size: 20px;
    text-align: center;
    padding-top: 1.2rem;
}

.x-axis-label .temperature {
    margin-bottom: 0.7rem;
}

.x-axis-label .month {
    font-weight: bold;
}